<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./includes/head.ejs') %>
  </head>
  <body>
    <nav class="get-nav navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <a class="navbar-brand" href="/">
          <img
            id="logo-img"
            src="./images/logo.png"
            alt="logo"
            class="d-inline-block align-text-top"
          />
        </a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div
          class="nav-links collapse navbar-collapse"
          id="navbarSupportedContent"
        ></div>
      </div>
    </nav>
    <div class="d-flex my-3 category">
      <a href="/">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 320 512"
          class="arrow"
        >
          <path
            d="M224 480c-8.188 0-16.38-3.125-22.62-9.375l-192-192c-12.5-12.5-12.5-32.75 0-45.25l192-192c12.5-12.5 32.75-12.5 45.25 0s12.5 32.75 0 45.25L77.25 256l169.4 169.4c12.5 12.5 12.5 32.75 0 45.25C240.4 476.9 232.2 480 224 480z"
          />
        </svg>
      </a>
      <p class="mx-1">Choose Category</p>
    </div>

    <div class="teacher container d-flex" id="teacher">
      <img src="/images/teacher.png" alt="teacher-icon" />
      <p>Teacher</p>
    </div>
    <div class="student container d-flex" id="student">
      <img src="/images/student.png" alt="student-icon" />
      <p>Student</p>
    </div>
  </body>
</html>
