<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./includes/head.ejs') %>
  </head>
  <body>
    <nav class="get-nav navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <a class="navbar-brand" href="/">
          <img
            id="logo-img"
            src="./images/logo.png"
            alt="logo"
            class="d-inline-block align-text-top"
          />
        </a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div
          class="nav-links collapse navbar-collapse"
          id="navbarSupportedContent"
        ></div>
      </div>
    </nav>
    <section class="get-section">
      <div>
        <h5 class="contact">Contact Information</h5>
        <div class="input-group mb-3">
          <input type="text" id="class-name" class="form-control-lg" placeholder="Firstname"/>
        </div>

        <div class="input-group mb-3">
          <input type="text" id="class-name" class="form-control-lg" placeholder="Lastname"/>
        </div>

        <div class="input-group mb-3">
          <input type="email" id="class-name" class="form-control-lg" placeholder="Email Address"/>
        </div>
      
        <a class="btn2 btn3 btn4 btn btn-primary pr-4  pl-4" href="/sign-up" role="button"
          >Next</a
        >
      </div>
    </section>
  </body>
</html>
