<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./includes/head.ejs') %>
  </head>
  <body>
    <div class="container-fluid">
      <div class="row">
        <!-- Sidebar -->

        <%- include('./includes/sidebar.ejs') %>

        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
          <div class="">
            <div class="container">
              <p id="demo"></p>
            </div>
            <div class="profile container">
              <svg
                class="psvg text-white"
                aria-hidden="true"
                focusable="false"
                data-prefix="fas"
                data-icon="user-plus"
                class="svg-inline--fa fa-user-plus fa-w-20"
                role="img"
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 640 512"
              >
                <path
                  fill="currentColor"
                  d="M624 208h-64v-64c0-8.8-7.2-16-16-16h-32c-8.8 0-16 7.2-16 16v64h-64c-8.8 0-16 7.2-16 16v32c0 8.8 7.2 16 16 16h64v64c0 8.8 7.2 16 16 16h32c8.8 0 16-7.2 16-16v-64h64c8.8 0 16-7.2 16-16v-32c0-8.8-7.2-16-16-16zm-400 48c70.7 0 128-57.3 128-128S294.7 0 224 0 96 57.3 96 128s57.3 128 128 128zm89.6 32h-16.7c-22.2 10.2-46.9 16-72.9 16s-50.6-5.8-72.9-16h-16.7C60.2 288 0 348.2 0 422.4V464c0 26.5 21.5 48 48 48h352c26.5 0 48-21.5 48-48v-41.6c0-74.2-60.2-134.4-134.4-134.4z"
                ></path>
              </svg>
            </div>
          </div>
          <h3>Due Assignments and Projects</h3>
          <hr />
          <div class="table-responsive">
            <table class="colorT table table-dark">
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Course Name</th>
                  <th scope="col">Assignment</th>
                  <th scope="col">Due Date</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row">1</th>
                  <td>Artificial Intelligence</td>
                  <td>Jan 21</td>
                  <td>Seminar</td>
                </tr>
                <tr>
                  <th scope="row">2</th>
                  <td>Compiler Construction</td>
                  <td>Jan 7</td>
                  <td>Compiler Construction</td>
                </tr>
                <tr>
                  <th scope="row">3</th>
                  <td>Web Design</td>
                  <td>Jan 9</td>
                  <td>Develop a Website</td>
                </tr>
                <tr>
                  <th scope="row">4</th>
                  <td>Oracle Adminstration</td>
                  <td>Dec 19</td>
                  <td>Create a Table</td>
                </tr>
              </tbody>
            </table>
          </div>

          <h3>Courses</h3>
          <hr />
          <div class="row">
            <div class="col-sm-6">
              <div class="card card1">
                <div class="card-body">
                  <h5 class="card-title text-white">INSY 405 CSB</h5>
                  <h6 class="card-subtitle mb-5 text-white">
                    Software Engineering
                  </h6>
                  <p class="card-text text-white">Monday Eze</p>
                </div>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="card card2">
                <div class="card-body">
                  <h5 class="card-title text-white">COSC 401 CSB</h5>
                  <h6 class="card-subtitle mb-5 text-white">
                    Compiler Construction
                  </h6>
                  <p class="card-text text-white">Oluwaseun Ebiesuwa</p>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-6">
              <div class="card card3">
                <div class="card-body">
                  <h5 class="card-title text-white">INSY 401</h5>
                  <h6 class="card-subtitle mb-5 text-white">Web Design</h6>
                  <p class="card-text text-white">Oluwaseun Ebiesuwa</p>
                </div>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="card card4">
                <div class="card-body">
                  <h5 class="card-title text-white">GEDS 400</h5>
                  <h6 class="card-subtitle mb-5 text-white">
                    Entrepreneurship
                  </h6>
                  <p class="card-text text-white">Ayodeji Bamidele</p>
                </div>
              </div>
            </div>
          </div>
        </main>
      </div>
    </div>
    <!-- <script>
      const d = new Date("03/25/2015");
      document.getElementById("demo").innerHTML = d;
    </script> -->
  </body>
  <%- include('./includes/script.ejs') %>
</html>
