<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./includes/head.ejs') %>
  </head>
  <body>
    <nav class="get-nav navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <a class="navbar-brand" href="/">
          <img
            id="logo-img"
            src="./images/logo.png"
            alt="logo"
            class="d-inline-block align-text-top"
          />
        </a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div
          class="nav-links collapse navbar-collapse"
          id="navbarSupportedContent"
        ></div>
      </div>
    </nav>
    <section class="get-section">
      <!-- <div>
        <h2 id="get">Get Started</h2>
        <h5>Course Name:</h5>
        <div class="input-group mb-3">
          <input type="text" id="class-name" class="form-control-md" />
        </div>
        <h5>Course Code:</h5>
        <div class="input-group mb-3">
          <input type="text" id="class-name" class="form-control-md" />
        </div>
        <a
          class="btn2 btn3 btn btn-primary pr-4 pl-4"
          href="/sign-up"
          role="button"
          >Next</a
        >
      </div> -->

      <section class="h-100 h-custom">
        <div class="container py-5 h-100">
          <div
            class="row d-flex justify-content-center align-items-center h-100"
          >
            <div class="col-lg-8 col-xl-6">
              <div class="card rounded-3">
                <div class="card-body p-4 p-md-5">
                  <h3 class="mb-4 pb-2 pb-md-0 mb-md-5 px-md-2">Get Started</h3>

                  <form class="px-md-2">
                    <div class="form-outline mb-4">
                      <label class="form-label" for="form3Example1q"
                        >Course Name</label
                      >
                      <input
                        type="text"
                        id="form3Example1q"
                        class="form-control"
                      />
                    </div>
                    <div class="form-outline mb-4">
                      <label class="form-label" for="form3Example1q"
                        >Course code</label
                      >
                      <input
                        type="text"
                        id="form3Example1q"
                        class="form-control"
                      />
                    </div>

                    <div
                      class="d-flex justify-content-center mx-4 mb-3 mb-lg-4"
                    >
                      <div class="btn">
                        <a
                          class="btn1 btn"
                          id="but"
                          href="/sign-up"
                          role="button"
                          >Submit</a
                        >
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </section>
  </body>
</html>
