<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./includes/head.ejs') %>
  </head>
  <body>
    <%- include('./includes/navbar.ejs') %>

    <div class="container-fluid main-div">
      <div class="text-div">
        <h1>Connect, Learn and Meet virtually.</h1>
        <p>All in one tools for learning, meeting and creating.</p>
      </div>
      <div class="home-image">
        <img src="../images/index.png" alt="people" />
      </div>
    </div>
  </body>
  <%- include('./includes/script.ejs') %>
</html>
