<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./includes/head.ejs') %>
  </head>
  <body>
    <div class="container-fluid">
      <div class="row">
        <!-- Sidebar -->

        <%- include('./includes/sidebar.ejs') %>

        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
          <div class="">
            <div class="container">
              <p id="demo"></p>
            </div>
            <div class="profile container">
              <svg
                class="psvg text-white"
                aria-hidden="true"
                focusable="false"
                data-prefix="fas"
                data-icon="user-plus"
                class="svg-inline--fa fa-user-plus fa-w-20"
                role="img"
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 640 512"
              >
                <path
                  fill="currentColor"
                  d="M624 208h-64v-64c0-8.8-7.2-16-16-16h-32c-8.8 0-16 7.2-16 16v64h-64c-8.8 0-16 7.2-16 16v32c0 8.8 7.2 16 16 16h64v64c0 8.8 7.2 16 16 16h32c8.8 0 16-7.2 16-16v-64h64c8.8 0 16-7.2 16-16v-32c0-8.8-7.2-16-16-16zm-400 48c70.7 0 128-57.3 128-128S294.7 0 224 0 96 57.3 96 128s57.3 128 128 128zm89.6 32h-16.7c-22.2 10.2-46.9 16-72.9 16s-50.6-5.8-72.9-16h-16.7C60.2 288 0 348.2 0 422.4V464c0 26.5 21.5 48 48 48h352c26.5 0 48-21.5 48-48v-41.6c0-74.2-60.2-134.4-134.4-134.4z"
                ></path>
              </svg>
            </div>
          </div>

          <h3>Lecturers</h3>
          <hr />
          <div class="row">
            <div class="col-sm-6">
              <div class="card lecturer-card">
                <div class="card-body d-flex">
                  <h5 class="card-title text-white">
                    <div class="lect-profile container pro-img">
                      <svg
                        class="psvg"
                        aria-hidden="true"
                        focusable="false"
                        data-prefix="fas"
                        data-icon="user-plus"
                        class="svg-inline--fa fa-user-plus fa-w-20"
                        role="img"
                        xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 640 512"
                      >
                        <path
                          fill="currentColor"
                          d="M624 208h-64v-64c0-8.8-7.2-16-16-16h-32c-8.8 0-16 7.2-16 16v64h-64c-8.8 0-16 7.2-16 16v32c0 8.8 7.2 16 16 16h64v64c0 8.8 7.2 16 16 16h32c8.8 0 16-7.2 16-16v-64h64c8.8 0 16-7.2 16-16v-32c0-8.8-7.2-16-16-16zm-400 48c70.7 0 128-57.3 128-128S294.7 0 224 0 96 57.3 96 128s57.3 128 128 128zm89.6 32h-16.7c-22.2 10.2-46.9 16-72.9 16s-50.6-5.8-72.9-16h-16.7C60.2 288 0 348.2 0 422.4V464c0 26.5 21.5 48 48 48h352c26.5 0 48-21.5 48-48v-41.6c0-74.2-60.2-134.4-134.4-134.4z"
                        ></path>
                      </svg>
                    </div>
                  </h5>
                  <h6 class="card-subtitle mb-5 text-white name">
                    Monday Eze <br />
                    <p class="card-text lect-email">
                      <a class="text-white" href="mailto:faith@gmail.com"
                        >ezem@gmail.com</a
                      >
                    </p>
                  </h6>
                  <svg
                    class="text-white info"
                    aria-hidden="true"
                    focusable="false"
                    data-prefix="fas"
                    data-icon="info-circle"
                    class="svg-inline--fa fa-info-circle fa-w-16"
                    role="img"
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 512 512"
                  >
                    <path
                      fill="currentColor"
                      d="M256 8C119.043 8 8 119.083 8 256c0 136.997 111.043 248 248 248s248-111.003 248-248C504 119.083 392.957 8 256 8zm0 110c23.196 0 42 18.804 42 42s-18.804 42-42 42-42-18.804-42-42 18.804-42 42-42zm56 254c0 6.627-5.373 12-12 12h-88c-6.627 0-12-5.373-12-12v-24c0-6.627 5.373-12 12-12h12v-64h-12c-6.627 0-12-5.373-12-12v-24c0-6.627 5.373-12 12-12h64c6.627 0 12 5.373 12 12v100h12c6.627 0 12 5.373 12 12v24z"
                    ></path>
                  </svg>
                </div>
              </div>
            </div>

      
            <div class="col-sm-6">
              <div class="card lecturer-card">
                <div class="card-body d-flex">
                  <h5 class="card-title text-white">
                    <div class="lect-profile container pro-img">
                      <svg
                        class="psvg"
                        aria-hidden="true"
                        focusable="false"
                        data-prefix="fas"
                        data-icon="user-plus"
                        class="svg-inline--fa fa-user-plus fa-w-20"
                        role="img"
                        xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 640 512"
                      >
                        <path
                          fill="currentColor"
                          d="M624 208h-64v-64c0-8.8-7.2-16-16-16h-32c-8.8 0-16 7.2-16 16v64h-64c-8.8 0-16 7.2-16 16v32c0 8.8 7.2 16 16 16h64v64c0 8.8 7.2 16 16 16h32c8.8 0 16-7.2 16-16v-64h64c8.8 0 16-7.2 16-16v-32c0-8.8-7.2-16-16-16zm-400 48c70.7 0 128-57.3 128-128S294.7 0 224 0 96 57.3 96 128s57.3 128 128 128zm89.6 32h-16.7c-22.2 10.2-46.9 16-72.9 16s-50.6-5.8-72.9-16h-16.7C60.2 288 0 348.2 0 422.4V464c0 26.5 21.5 48 48 48h352c26.5 0 48-21.5 48-48v-41.6c0-74.2-60.2-134.4-134.4-134.4z"
                        ></path>
                      </svg>
                    </div>
                  </h5>
                  <h6 class="card-subtitle mb-5 text-white name">
                    Monday Eze <br />
                    <p class="card-text lect-email">
                      <a class="text-white" href="mailto:faith@gmail.com"
                        >ezem@gmail.com</a
                      >
                    </p>
                  </h6>
                  <svg
                    class="text-white info"
                    aria-hidden="true"
                    focusable="false"
                    data-prefix="fas"
                    data-icon="info-circle"
                    class="svg-inline--fa fa-info-circle fa-w-16"
                    role="img"
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 512 512"
                  >
                    <path
                      fill="currentColor"
                      d="M256 8C119.043 8 8 119.083 8 256c0 136.997 111.043 248 248 248s248-111.003 248-248C504 119.083 392.957 8 256 8zm0 110c23.196 0 42 18.804 42 42s-18.804 42-42 42-42-18.804-42-42 18.804-42 42-42zm56 254c0 6.627-5.373 12-12 12h-88c-6.627 0-12-5.373-12-12v-24c0-6.627 5.373-12 12-12h12v-64h-12c-6.627 0-12-5.373-12-12v-24c0-6.627 5.373-12 12-12h64c6.627 0 12 5.373 12 12v100h12c6.627 0 12 5.373 12 12v24z"
                    ></path>
                  </svg>
                </div>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="card lecturer-card">
                <div class="card-body d-flex">
                  <h5 class="card-title text-white">
                    <div class="lect-profile container pro-img">
                      <svg
                        class="psvg"
                        aria-hidden="true"
                        focusable="false"
                        data-prefix="fas"
                        data-icon="user-plus"
                        class="svg-inline--fa fa-user-plus fa-w-20"
                        role="img"
                        xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 640 512"
                      >
                        <path
                          fill="currentColor"
                          d="M624 208h-64v-64c0-8.8-7.2-16-16-16h-32c-8.8 0-16 7.2-16 16v64h-64c-8.8 0-16 7.2-16 16v32c0 8.8 7.2 16 16 16h64v64c0 8.8 7.2 16 16 16h32c8.8 0 16-7.2 16-16v-64h64c8.8 0 16-7.2 16-16v-32c0-8.8-7.2-16-16-16zm-400 48c70.7 0 128-57.3 128-128S294.7 0 224 0 96 57.3 96 128s57.3 128 128 128zm89.6 32h-16.7c-22.2 10.2-46.9 16-72.9 16s-50.6-5.8-72.9-16h-16.7C60.2 288 0 348.2 0 422.4V464c0 26.5 21.5 48 48 48h352c26.5 0 48-21.5 48-48v-41.6c0-74.2-60.2-134.4-134.4-134.4z"
                        ></path>
                      </svg>
                    </div>
                  </h5>
                  <h6 class="card-subtitle mb-5 text-white name">
                    Monday Eze <br />
                    <p class="card-text lect-email">
                      <a class="text-white" href="mailto:faith@gmail.com"
                        >ezem@gmail.com</a
                      >
                    </p>
                  </h6>
                  <svg
                    class="text-white info"
                    aria-hidden="true"
                    focusable="false"
                    data-prefix="fas"
                    data-icon="info-circle"
                    class="svg-inline--fa fa-info-circle fa-w-16"
                    role="img"
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 512 512"
                  >
                    <path
                      fill="currentColor"
                      d="M256 8C119.043 8 8 119.083 8 256c0 136.997 111.043 248 248 248s248-111.003 248-248C504 119.083 392.957 8 256 8zm0 110c23.196 0 42 18.804 42 42s-18.804 42-42 42-42-18.804-42-42 18.804-42 42-42zm56 254c0 6.627-5.373 12-12 12h-88c-6.627 0-12-5.373-12-12v-24c0-6.627 5.373-12 12-12h12v-64h-12c-6.627 0-12-5.373-12-12v-24c0-6.627 5.373-12 12-12h64c6.627 0 12 5.373 12 12v100h12c6.627 0 12 5.373 12 12v24z"
                    ></path>
                  </svg>
                </div>
              </div>
            </div>
          </div>
          <!-- 
          <div class="row">
          
            <div class="col-sm-6">
              <div class="card card4">
                <div class="card-body">
                  <h5 class="card-title text-white">GEDS 400</h5>
                  <h6 class="card-subtitle mb-5 text-white">
                    Entrepreneurship
                  </h6>
                  <p class="card-text text-white">Ayodeji Bamidele</p>
                </div>
              </div>
            </div>
          </div> -->
        </main>
      </div>
    </div>
  </body>
  <%- include('./includes/script.ejs') %>
</html>
