<!DOCTYPE html>
<html lang="en">
  <head> </head>
  <script src="/socket.io/socket.io.js"></script>
  <script>
    console.log("<%= roomId %>");
  </script>
  <body>
    <div id="video-grid"></div>
  </body>
  <%- include('./includes/head.ejs') %>
</html>
