/*------------------------------------------------------------------
[Master Stylesheet]


./node_modules/.bin/nodemon
../node_modules/.bin/nodemon



Project:  Final year Project
Version:	1.0
Last change:	25/10/2021
Assigned to:	Jessica
Primary use:	Open Source
-------------------------------------------------------------------*/

/*-----------------------------------------------------*/
/*           NAVBAR                */
.navbar {
  position: static;
  width: 100%;
  border-color: #e7e7e7;
  margin-bottom: 7%;
}
#logo-img {
  width: 85%;
  height: 75%;
}
.nav-links {
  margin-left: 400px;
}
.nav-links > ul > li {
  font-size: 17px;
  font-weight: 500;
  margin-left: 20px;
  text-transform: uppercase;
}
.nav-links > a {
  text-decoration: none;
  text-transform: uppercase;
  margin-left: 20px;
  width: 120px;
  height: 40px;
  border-radius: 15px;
  font-size: 17px;
  font-weight: 500;
}
.btn1 {
  background-color: #2a69b9 !important;
}
.btn2 {
  background-color: #2a69b9 !important;
}

/***** INDEX (HOME PAGE) STYLE *****/
.main-div {
  display: flex;
  justify-content: space-evenly;
  padding: 0 20px 0 40px;
  /* margin: 0 20px 0 20px; */
}
.text-div > h1 {
  color: #2a69b9;
}
.text-div > p {
  font-size: 20px;
}
.text-div {
  width: 40%;
}
.home-image {
  width: 50%;
}
.home-image > img {
  height: 85%;
  box-shadow: 20px;
  padding-bottom: 60px;
}
.text-div > a {
  width: 170px;
  height: 40px;
  text-transform: capitalize;
  font-size: 18px;
  border-radius: 15px;
}

.link-color {
  border-radius: 15px !important;
  /* padding: 10px 30px 10px 30px !important; */
  background-color: #2a69b9 !important;
  color: #fff !important;
  padding-left: 23px !important;
  padding-right: 23px !important;
  width: 120px;
  height: 40px;
  border-radius: 15px;
  font-size: 17px;
  font-weight: 500;
}

/*-----------------------------------------------------*/
/*           GET STARTED                */

.get-nav {
  margin-bottom: 0;
}

.get-section {
  margin: 30px;
  margin-left: 40px !important;
}

#get {
  font-weight: 500;
  padding-bottom: 20px;
}

.get-section div > h5 {
  font-size: 23px;
}

.get-section div > h6 {
  font-size: 20px;
}

#class-name {
  border: 2px solid #2a69b9 !important;
  padding: 5px !important;
  border-radius: 2px 10px !important;
}

.num {
  font-size: 20px;
  font-weight: 200px;
}

.num-input {
  height: 25px;
}

.btn3 {
  border-radius: 8px;
  margin-top: 40px;
  padding: 10px 50px 10px 50px !important;
}

/*-----------------------------------------------------*/
/*          CONTACT INFO               */
.contact {
  margin-bottom: 40px;
  font-size: 30px !important;
}

/*-----------------------------------------------------*/
/*          SIGN UP AND LOGIN               */
.sign {
  margin-bottom: 35px;
  font-size: 30px !important;
}

/*-----------------------------------------------------*/
/*          DASHBOARD              */
.sidebar {
  position: fixed;
  left: 0;
  bottom: 0;
  top: 0;
  z-index: 100;
  padding: 40px 0 0 10px;
  border-right: 1px solid #d3d3d348;
}

.left-sidebar {
  margin-top: 50px;
  margin-left: 30px;
  position: fixed;
  top: 0;
  height: calc(100vh - 70px);
}

.sidebar-nav li .nav-link {
  color: #000;
  font-weight: 500;
}

#logo-img1 {
  width: 75%;
  height: 35%;
  margin-left: 10px;
  margin-bottom: 35px;
}

.logout {
  margin-top: 200px;
}

.color {
  background-color: #e5e5e538 !important;
}

main {
  padding-top: 50px;
}

.colorT {
  background-color: #2a68b9e5;
}

main .card {
  margin-bottom: 20px;
}

.card1 {
  background-color: #2a69b9;
}

.card2 {
  background-color: #2a69b9;
}

.card3 {
  background-color: #2a69b9;
}

.card4 {
  background-color: #2a69b9;
}

.card5 {
  background-color: #2a69b9;
}

.profile {
  width: 50px;
  height: 50px;
  background-color: #2a69b9;
  border-radius: 50%;
  position: relative;
  left: 500px;
  bottom: 20px;
}
svg {
  height: 19px;
  width: 19px;
}

.psvg {
  height: 30px;
  width: 30px;
  position: relative;
  top: 7px;
  right: 2px;
}

.active {
  background-color: #71abf796;
  /* width: 85%; */
  max-width: max-content;
  padding-right: 35px;
  border-radius: 5px;
}

.lecturer-card {
  background-color: #2a69b9;
}

.pro-img {
  position: relative;
  left: 5px;
  top: 18px;
  z-index: 3;
}

.name {
  position: relative;
  left: 20px;
  top: 25px;
  font-size: 20px;
}

.lect-profile {
  width: 50px;
  height: 50px;
  background-color: #93a8c4;
  border-radius: 50%;
}

.info {
  position: relative;
  left: 280px;
  z-index: 40;
}

.lect-email {
  font-size: 15px;
  font-style: italic;
}

.lect-email:hover {
  font-size: 15px;
  color: #8aa5c7 !important;
}

.dot {
  position: relative;
  bottom: 150px;
  left: 470px;
  z-index: 40;
}

.course-card {
  height: 160px !important;
}

/***      CATEGORY       ***/
.category {
  font-size: 25px;
  font-weight: 400;
  margin-left: 35px;
}

.arrow {
  height: 22px;
  width: 22px;
  position: relative;
  top: -3px;
  right: 2px;
}

.teacher {
  width: 60%;
  height: 35%;
  border-width: 2px;
  border-radius: 10px;
  border-color: #2a69b9;
  display: inline-block;
  padding: 15px;
  border-style: solid;
}

.teacher p {
  font-size: 33px;
  text-align: center;
  margin-left: 15px;
  margin-top: 10px;
}

.student {
  margin-top: 35px;
  width: 60%;
  height: 30%;
  border-width: 2px;
  border-radius: 10px;
  border-color: #2a69b9;
  display: inline-block;
  padding: 15px;
  border-style: solid;
}

.student p {
  font-size: 33px;
  text-align: center;
  margin-left: 15px;
  margin-top: 10px;
}

/* ROOM */
#video-grid {
  display: flex;
  justify-content: center;
}

video {
  height: 300px;
  width: 400px;
  object-fit: cover;
}

.main {
  height: 100vh;
  display: flex;
}

.main_left {
  flex: 0.8;
  display: flex;
  flex-direction: column;
}

.main_right {
  flex: 0.2;
}

.main_videos {
  flex-grow: 1;
  background-color: #000000;
  display: flex;
  justify-items: center;
  align-items: center;
}

.main_controls {
  display: flex;
  background-color: #1c1e20;
  color: #d2d2d2;
  padding: 5px;
  justify-content: space-between;
}

.main_controls_block {
  display: flex;
}

.main_controls_button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 8px 10px;
  min-width: 80px;
  cursor: pointer;
}

.main_controls_button i {
  font-size: 24px;
}

.main_controls_button:hover {
  background-color: #343434;
  border-radius: 5px;
}

.leave_meeting {
  color: #eb534b;
}

.main_right {
  display: flex;
  flex-direction: column;
  background-color: #242324;
  border-left: 1px solid #3d3d42;
}

.main_header {
  color: #f5f5f5;
  text-align: center;
}

.main_chat_window {
  flex-grow: 1;
  overflow-y: scroll;
}

.main_message_container {
  padding: 22px 12px;
  display: flex;
}
::-webkit-scrollbar {
  width: 0px;
  background: transparent; /* make scrollbar transparent */
}

.main_message_container input {
  flex-grow: 1;
  background-color: transparent;
  border: none;
  color: #f5f5f5;
}

.messages {
  color: white;
  list-style: none;
}

.unmute,
.stop {
  color: #cc3833;
}
