<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">
      <img
        id="logo-img"
        src="./images/logo.png"
        alt="logo"
        class="d-inline-block align-text-top"
      />
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="nav-links collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link link-color active" aria-current="page" href="#"
            >Features</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link link-color active" aria-current="page" href="#"
            >Support</a
          >
        </li>
      </ul>
      <a class="btn1 btn btn-primary" href="#" role="button">sign in</a>
      <a class="btn2 btn btn-primary" href="#" role="button">sign up</a>
    </div>
  </div>
</nav>
